body{
    background-color: #252525;
    color: rgb(154, 202, 202);
    font-family: sans-serif;
    margin:0;
}

h1{
    text-align: center;
}

.gambar{
    margin: 30px;
    text-align: center;
}

img{
    border: solid rgb(154, 202, 202);
    border-radius: 20px;
}

h2{
    line-height: 30px;
    margin-left: 20px;
}

li, a{
    color: rgb(154, 202, 202);
    list-style: image();
}

nav {
    width: 100%;
    height: 20px;
    background-color: #eee;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 2px;
}

nav ul li a {
    text-decoration: none;
    margin: 5px;
    padding: 5px 15px;
    padding-top: 7px;
    color: rgb(28, 104, 104);
    border-radius: 10px;
}

nav ul li a:hover {
    color : #fff;
    background-color: darkgrey;
}

article{
    background-color: #2F4F4F ;
    padding: 20px;
    margin: 15px;
    border-radius: 20px;
    text-align: justify;
}

footer{
    background: black;
    color: white;
    padding: 5px;
    font-size: 13px;
    margin-left: 0;
    margin-right:0;
    margin-top: 30px;
    text-align: center;
    padding: 5px;
}

footer ul li{
    display: inline;
    list-style-type: none;
    font-size: 30px;
}

footer div .logo{
    margin-right: 37px;
    justify-content: center;
    align-items: center;
}

footer div ul li{
    padding:30px;
    margin-left: 0px;
    margin-right: 35px;
}

.profil {
    text-align: left;
    margin-left:15px;
    padding-left: 10px;
    padding-top: 5px;
    line-height: 20px;
}